ul{
    width: 100%;
    // box-sizing: border-box;
    li{
        // box-sizing: border-box;
        width: 100%;
        padding-left: 30px;
        line-height: 0.48rem;
        color: #4F494B;
        border-top: 1px solid #E6E6E6;
    }
}